<h1>Drugs: Ranked List of Worst Manufacturers</h1>
<hr>
<p>Filter by Adverse Effect: <%= link_to "clear filters", adverse_effects_path %></p>
<hr>
<ul>

# ranked list
# <% @results.each do |result| %>
#     <li><%= result['patient']['drug'][0]['manufactuers'] %></p>
# <% end %>
</ul>

